@using NTierSolution.MVC.UI.Models
@model StudentsModel
@{
    ViewData["Title"] = "Student Update Form";
}

<h1>Update</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SubmitUpdateStudent" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name:</label>
                <input asp-for="Name" class="input-group" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Surname:</label>
                <input asp-for="Surname" class="input-group" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" asp-action="SubmitUpdateStudent" asp-route-id="student.Id">Update</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="StudentList">Back to Student List</a>
</div>
